
*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: black;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.main {
    color: white;
    position: sticky;
    top: 6%;
    left: 11%;
    width: 80%;
    margin-bottom: 40px;
}

.main .img {
    display: block;
    float: left;
}

.main .title {
    font-size: 30px;
    display: block;
    float: right;
    margin-right: 70%;
}

.wrapper {
    float: right;
}

.wrapper p {
    color: white;
    left: 70%;
}

.add {
    background: #d8d8d8;
    border-radius: 12px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}

.add img {
    height: 12px;
}

.search {
    float: right;
    outline: 0;
    display: flex;
    min-width: 100px;
    height: 40px;
    border-radius: 12px;
    background-color: #d8d8d8;
}

.search input {
    background: transparent;
    border: none;
    outline: none;
    height: 20px;
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 14px;
}

.search button {
    background: transparent;
    border: none;
    outline: none;
}

.search button img {
    height: 25px;
    margin-top: 8px;
}

.results {
    margin-top: 3.2%;
    background-color:#B4AFAF;
    color: black;
    border-radius: 8px;
    margin-left: 180px;
    padding: 10px;
}

.filters {
    background-color: #575151;
    color: white;
    border-radius: 8px;
}

.A-Z {
    padding: 3px;
    font-size: 15px;
    background-color: #A5A5A5;
    width: 4%;
    border-radius: 8px;
    border: none;
}

.A-Z select {
    background: transparent;
    border: none;
}

.Date {
    padding: 3px;
    font-size: 15px;
    background-color: #A5A5A5;
    width: 10%;
    border-radius: 8px;
    border: none;
}

.Date select {
    background: transparent;
    border: none;
}

.sidenav {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 8.3%;
    height: 100%;
    background-color: #525252;
    text-align: center;
    display: block;
    font-size: 14px;
    padding: 35px;
}

.sidenav p {
    font-weight: bold;
    margin-top: 60%;
    margin-bottom: 10px;
}

.sidenav button {
    background-color: #525252;
    border: none;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidenav button:hover {
    background-color: #525252;
    color: #ad0707;
}

.sidenav .editbtn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 8.3%;
    text-align: center;
}